Bootstrap/Dependencies/bootstrap.min.css
Bootstrap/Dependencies/bootstrap.min.js
Bootstrap/Dependencies/debug.log
Bootstrap/Dependencies/icons-getbootstrap.pdf
Bootstrap/Dependencies/jquery-3.5.1.slim.min.js
Bootstrap/Dependencies/popper.min.js